.loadingContainer {
    position: relative;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(45deg, gold, gold, transparent, transparent, rgb(255, 0, 0), rgb(255, 0, 0));
    animation: rotating-forward 4s infinite linear;
    margin-top: 100px;
}

@keyframes rotating-forward {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.loadingBody {
    min-height: 100%;
    background-color: black;
    border-radius: 50%;
    border: 3px solid transparent;
    border-image: conic-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotating-reverse 1.333s infinite linear;
}

.loadingText {
    width: 100%;
    min-height: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: rotating-forward 2s infinite linear;
}

@keyframes rotating-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

.loadingText span {
    display: inline-block;
    opacity: 0;
    animation: fadeInOut 1s infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
